<div class="footer">
   <div class="footer-main" >
     <span style="color:#808080; display:inline-block;">Copyright © Joe All Rights Reserved</span><br>
     <span style="color:#808080; display:inline-block;">基于SSH框架的Scaffold</span>
   </div>
 </div>